html{

    /* margin: 5px; */
    /* border: 1px solid red; */
}

body{

    margin: 0px;
    /* border: 1px solid green; */

    height: 100vh;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: 'Titillium Web', sans-serif;
    /* background-color: #FCFFA6; */
}

#title{

    font-size: 5rem;
    padding-bottom: 50px;
}

.input-container{

    border: 2px dashed black;
    border-radius: 10px;

    display: flex;

    padding: 5px 35vw;
    gap: 5px;
}

input{

    font-size: 1rem;
    width: 200px;

    border: 1px solid black;
    border-radius: 10px;

    padding: 3px 15px;

    font-family: 'Titillium Web', sans-serif;
    background-color: #CBFFA9;
}

button{

    font-size: 1rem;

    border: 1px solid black;
    border-radius: 10px;

    padding: 3px 15px;

    font-family: 'Titillium Web', sans-serif;
    background-color: #B2A4FF;
}

button:hover{

    color: white;
    background-color: black;
}

.primary-container{

    /* border: 2px solid black; */
    border-radius: 10px;

    /* width: 70vw; */
    /* height: 350px; */

    display: none;

    gap: 5px;
    padding: 10px;
}

.location, .current{

    border: 1px solid black;
    border-radius: 10px;
}

.location{

    width: 250px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    background-color: #86C8BC;
}

.location div{

    margin: 5px;
    padding: 5px;
}

.location .sectionA, .location .sectionB{

    /* border: 1px solid skyblue; */
}

#name{

    /* border: 1px solid pink; */
    font-size: 2rem;

    margin-bottom: 0px;
}

#region{

    /* border: 1px solid pink; */
    /* font-size: 1rem; */

    padding-top: 0px;
    margin-top: 0px;
}

#coordinates{

    /* border: 1px solid pink; */
    font-size: 0.8rem;
}

.current{

    /* width: 75%; */

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    background-color: #CEEDC7;
}

.current div{

    margin: 5px;
    padding: 5px;
}

.current .sectionA, .current .sectionB{

    /* border: 1px solid skyblue; */
}

.current .sectionA{

    display: flex;
    /* height: 300px; */
}

.current .sectionA .sideA{

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border: 1px solid black;
    border-radius: 10px;

    background-color: #FFDCA9;
}

.condition, .tempInfo{
    /* border: 1px solid orangered; */
}

#condition{

    margin-top: 0px;
    padding-top: 0px;

    display: flex;
}

.condition div{

    /* border: 1px solid goldenrod; */
}

#icon{

    padding-top: 10px;
    padding-right: 0px;
}

img{

    /* border: 1px solid goldenrod; */
    height: 50px;
}

#misc{

    margin-left: 0px;
    padding-left: 0px;
}

#temp{

    margin-bottom: 0px;
    padding-bottom: 0px;

    margin-left: 0px;
    padding-left: 0px;

    font-size: 2rem;
}

#text{

    margin-top: 0px;
    margin-left: 0px;
    
    padding-top: 0px;
    padding-left: 5px;

    font-size: 0.8rem;
}

.tempInfo{

    display: flex;
    flex-direction: column;

    align-items: end;
}

.tempInfo div{

    /* border: 1px solid goldenrod ; */
}

#feelsLike{

    padding-right: 15px;
    font-size: 0.8rem;
}

.current .sectionA .sideB{

    display: flex;

    /* border: 1px solid black; */
    border-radius: 10px;
}

.tiles{

    border: 1px solid black;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    background-color: #FFF6BD;
}

.labels{

    width: 100px;
    font-size: 0.75rem;

    text-align: end;
}

.stat{

    padding-top: 40px;
    font-size: 1.75rem;
}

#windSpeed, #windDirection, #humidity, #uv{
    
    text-align: center;
    padding-top: 40px;   
}

.current .sectionB{

    display: flex;
    justify-content: end;
}

#last_updated{

    /* border: 1px solid black; */
    font-size: 0.8rem;
}