html{

    margin: 5px;
    border: 1px solid red;
}

body{

    padding: 5px;
    border: 1px solid green;

    height: 100vh;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.primary-container{

    border: 1px solid blue;

    /* width: 70vw; */
    /* height: 350px; */

    display: flex;

    gap: 5px;
    padding: 5px;
}

.location, .current{

    border: 1px solid purple;
}

.location{

    width: 250px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.location div{

    margin: 5px;
    padding: 5px;
}

.location .sectionA, .location .sectionB{

    border: 1px solid skyblue;
}

#name{

    /* border: 1px solid pink; */
    font-size: 2rem;

    margin-bottom: 0px;
}

#region{

    /* border: 1px solid pink; */
    /* font-size: 1rem; */

    padding-top: 0px;
    margin-top: 0px;
}

#coordinates{

    border: 1px solid pink;
    font-size: 0.8rem;
}

.current{

    /* width: 75%; */

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.current div{

    margin: 5px;
    padding: 5px;
}

.current .sectionA, .current .sectionB{

    border: 1px solid skyblue;
}

.current .sectionB .sideA, .current .sectionB .sideB{

    border: 1px solid lawngreen;
}

.current .sectionA{

    display: flex;
    /* height: 300px; */
}

.current .sectionA .sideA{

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border: 1px solid burlywood;
}

.condition, .tempInfo{
    /* border: 1px solid orangered; */
}

#condition{

    margin-top: 0px;
    padding-top: 0px;

    display: flex;
}

.condition div{

    /* border: 1px solid goldenrod; */
}

#icon{
    padding-right: 0px;
}

img{

    /* border: 1px solid goldenrod; */
    height: 50px;
}

#misc{

    margin-left: 0px;
    padding-left: 0px;
}

#temp{

    margin-bottom: 0px;
    padding-bottom: 0px;

    margin-left: 0px;
    padding-left: 0px;

    font-size: 2rem;
}

#text{

    margin-top: 0px;
    
    margin-left: 0px;
    
    padding-top: 0px;
    padding-left: 5px;

    font-size: 0.8rem;
}

.tempInfo{

    display: flex;
    flex-direction: column;

    align-items: end;
}

.tempInfo div{

    /* border: 1px solid goldenrod ; */
}

#feelsLike{

    padding-right: 15px;
    font-size: 0.8rem;
}

.current .sectionA .sideB{

    display: flex;
    border: 1px solid burlywood;
}

.tiles{

    border: 1px solid burlywood;
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.labels{

    width: 100px;
    font-size: 0.75rem;

    text-align: end;
}

.stat{

    padding-top: 40px;
    font-size: 1.75rem;
}

#windSpeed, #windDirection, #humidity, #uv{
    
    text-align: center;
    padding-top: 40px;   
}

.current .sectionB{

    display: flex;
    justify-content: end;
}

#last_updated{

    border: 1px solid pink;
    font-size: 0.8rem;
}